.homepage{

    position: relative;
    background-color: #fffcf6;
    height: 100vh;

    .main__text{
        width: 700px;
        padding-top: 100px;

        h1{
            font-size: 50px;
            line-height: 65px;
            letter-spacing: -.5px;
            padding-top: 0px;
            font-weight: 630;
        }

        p{
            font-size: 17px;
            line-height: 28px;
            width: 80%;
            margin: 50px 0;
            margin-top: 30px;
            color: #777;
        }
    }

    .quick__services{

        gap: 5px;

        .item{
            width: calc(25% - 5px);
            height: 280px;
            background-color: #c61c39;
            background-color: #3a5a40;
            color: #fff;
            padding: 50px;
            border: 1px solid #eee;
            font-weight: 600;
            text-transform: capitalize;
            text-align: center;
            line-height: 24px;
            cursor: pointer;
            overflow: hidden;

            .crown{

                height: 140px;
                gap: 25px;
                

                .relative{
                    font-family: "Bebas Neue" !important;
                    font-size: 26px;
                    line-height: 28px;
                    text-align: center;
                }
            }

            .popCircle{
                width: 0px;
                height: 0px;
                background-color: #f0ead2;
                border-radius: 50%;
                transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                opacity: 0;
            }

            &:hover{
                color: #1b1b1b;

                .popCircle{
                    width: 500px;
                    height: 500px;
                    opacity: 1;
                }

                .icon{
                    color: #c90526;
                    color: #3a5a40;
                }
            }

            .icon{
                font-size: 30px;
            }
        }
    }
    
}

.imageHomeSide{
    width: 500px;
    height: 550px;
    top: 0px;
    right: 0;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: none;
    }
}

.about__short{
    margin: 80px auto;
    background-color: #fcfaf2;
    max-width: 1730px;
    overflow-x: hidden;
}

.about__quick__content{
    width: 50%;
    padding: 50px;
    padding-left: 70px;
}

.lh{
    line-height: 45px;
    font-size: 35px;
    margin-bottom: 50px;
}

.image__icon{
    width: 35px;
    height: 35px;

    img{
        width: 100%;
        height: 100%;
    }
}

.divider{
    margin: 25px 0;
    width: 100%;
    height: 1px;
    background-color: #e4e4e4;
    margin-top: 25px;
}

.serve{
    background-color: #def0e2ae;
    width: max-content;
    padding: 2px 4px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.videoHolder{
    width: 450px;
    margin-top: 0px;

    img{
        width: 100%;
        height: 100%;
    }
}

.socials__comp{
    padding: 10px 0;

    .youtube__player__seth{

        div{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p{
            font-family: "Bebas Neue" !important;
            font-size: 35px !important;
            margin-bottom: 40px;

            span{
                color: #fb8b24;
                font-family: "Bebas Neue" !important;
            }
        }
    }

}